@font-face {
    font-family: 'sonoroustextured';
    src: url('sonorous-textured-webfont.woff2') format('woff2'),
         url('sonorous-textured-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url('Homepage.png');
    background-attachment: fixed;  
    background-size: cover;
    background-position: center center;
}

.navbar {
    border-bottom: 5px solid black;
    min-height: 80px;
}

.navbar-brand {
    font-size: 24px;
}

nav {
    font-family: sonoroustextured;
    font-size: 24px;
}

h1,h5,p,ul {
    font-family: sonoroustextured;
}

a {
    font-family: sonoroustextured;
    color: #5160E0;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



/*For Index*/
@media only screen and (max-width: 600px) {
      .body-index {
      background-image: url('/static/story/Homepage - Phone Backgr.png');
      background-attachment: fixed;  
      background-size: cover;
      background-repeat: no-repeat;
      }
  }

/*For About*/
        html {
            scroll-behavior: smooth;
        }

        .body-about {
            background-image: url('/static/story/About - Background only.png');
            background-attachment: scroll;  
            background-size: cover;
            background-repeat: no-repeat;
        }

        .section-about {
            height: 100vh;
        }
        
        .img-about {
            max-width: 300px;
            max-height: 300px;
        }

        #about-top {
            display: flex;
            justify-items: center;
            align-items: center;
        }

        .card {
            border: none;
            background: none;
        }

        button {
            font-family: sonoroustextured;
        }

        @media only screen and (max-width: 600px) {
            .body-about {
            background-image: url('/static/story/About - Phone Backgr.png');
            background-attachment: scroll;  
            background-size: cover;
            background-repeat: no-repeat;
            }
        }

/*For Contacts*/
        .body-contacts {
            background-image: url('/static/story/Contact - Background only.png');
            background-size: cover;
        }

        #contacts {
            display: flex;
            justify-items: center;
            align-items: center;
        }

        #icons {
            max-width: 87px;
            max-height: 87px;
        }

        td {
            padding: 10px;
            font-family: sonoroustextured;
            font-size: 48px;
        }
       
        @media only screen and (max-width: 600px) {
            table, th, td {
          max-width: 375px;
          font-size: medium;
            }  
        }

/*For friendlist*/

#friendlist {
  font-family: sonoroustextured;
  font-size: 28px;
}