{% extends 'story/base.html'%}
{% block content %}


    <section id="about-top" style="padding-top: 10vh;" class="section-about">
      <div class="row">
        <div class="col-sm-4 mx-auto" style="width: auto;">
          <img src="/static/story/P1030362 bulet_compressed.png" alt="Photo of Adham" class="img-about">
        </div>
        <div class="col-sm-8 mx-auto" style="width: auto; padding: 20px">
          <article>
            <h1>About <span style="color:#5160E0;">Me</span>:</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni illum, itaque corporis fugit ullam facilis? 
                Maxime omnis at id, quia mollitia soluta vero vitae vel, odit sequi nihil, repellat rem.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni illum, itaque corporis fugit ullam facilis? 
                Maxime omnis at id, quia mollitia soluta vero vitae vel, odit sequi nihil, repellat rem.
            </p>
            <a href="#about-bottom">Click here for more</a>
          </article>
        </div>
      </div>
    </section>

    <section id="about-bottom" data-offset="100">
        <div class="row" style="justify-content: center;">
            <div class="col-sm mx-auto" style="width: auto; padding:30px" id="firstCard">
                <div class="row" style="justify-content: center;">
                    <div class="card">
                        <img src="/static/story/card.png" class="card-img" alt="" style="max-width: 300px; max-height: 300px">
                        <div class="card-img-overlay" style="padding: 10px 0px 20px 40px;">
                          <h5 class="card-title">Education:</h5>
                            <ul>
                                <li>Universitas Indonesia<br>Computer Science<br>2019 - Present</li>
                                <li>SMAIT Thariq bin Ziyad <br>2016 - 2019</li>
                                <li>SMPIT Thariq bin Ziyad <br>2013 - 2016</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mx-auto" style="width: auto; padding:30px" id="secondCard">
                <div class="row" style="justify-content: center;">
                    <div class="card">
                        <img src="/static/story/card.png" class="card-img" alt="" style="max-width: 300px; max-height: 300px">
                        <div class="card-img-overlay" style="padding: 10px 0px 20px 40px;">
                          <h5 class="card-title">Skills:</h5>
                          <p class="card-text">-HTML / CSS<br>-Python<br>-Java<br>-Adobe Photoshop<br>-CorelDRAW / Adobe Illustrator<br>-VEGAS Pro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="justify-content: center; padding: 30px;">
            <div class="card">
                <img src="/static/story/card.png" class="card-img" alt="" style="max-width: 300px; max-height: 300px">
                <div class="card-img-overlay" style="padding: 10px 0px 20px 40px;">
                  <h5 class="card-title">Interest:</h5>
                  <p class="card-text">-Photography<br>-Graphics Design<br>-Video Editing<br>-Tech<br>-Gaming</p>
                </div>
            </div>
        </div>
        <div class="row" style="justify-content: center; padding: 30px;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Download my CV
            </button>
        </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Curriculum Vitae</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <a href="">mycvlinkexample.com</a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    </section>
    


{% endblock %}
   