<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%static 'story/favicon.png'%}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{%static 'story/style.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{%static 'story/css/bootstrap.min.css'%}">
    <title>adham.</title>

  </head>
  <div class="container">
  <body id="page-top" class="body-index">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="mainNav">
        <div class="container">
        <a class="navbar-brand" href="#page-top">adham.</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{%url 'index'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{%url 'about'%}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{%url 'contact'%}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{%url 'forms'%}">Form</a>
            </li>
          </ul>
        </div>
        </div>
      </nav>


      {%block content%} {%endblock%}


      <p>&copy Copyright Adham Miftah 2020</p>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{%static 'story/js/jquery.js'%}"></script>
    <script type="text/javascript" src="{%static 'story/js/popper.js'%}"></script>
    <script type="text/JavaScript" src="{%static 'story/js/bootstrap.min.js'%}"></script>
  </div>
  </body>
</html>