{% extends 'story/base.html'%}
{% block content %}


        <section style="padding-top: 15vh;">
        
        <table>
            <tr>
                <td><img src="/static/story/icons/mail.png" alt="" id="icons"></td>
                <td>adhammiftah@gmail.com</td>
            </tr>
            <tr>
                <td><img src="/static/story/icons/whatsapp.png" alt="" id="icons"></td>
                <td>+62 821-1617-1315</td>
            </tr>
            <tr>
                <td><img src="/static/story/icons/linkedin.png" alt="" id="icons"></td>
                <td>linkedin.com/in/adhammiftah</td>
            </tr>
            <tr>
                <td><img src="/static/story/icons/instagram.png" alt="" id="icons"></td>
                <td>@adhammiftah</td>
            </tr>
        </table>
        </section>

{% endblock %}