{% extends 'story/base.html'%}
{% block content %}

<br><br><br><br><br><br><br>
<a class="btn btn-primary btn-lg" href="{%url 'friendlist'%}" role="button">View friends list</a>
<div class="col-md-auto col-sm text-center">
	<form method="POST" action="">
		{% csrf_token %}
		<ul style="list-style-type: none">
			<li id="Name">Name: <br>{{ form.name }}</li>
			<li id="Year">Year: <br>{{ form.the_year }}</li>
			<li id="Hobby">Hobby: <br>{{ form.hobby }}</li>
			<li id="FnB">Favourite Food and Drinks <br>{{ form.fnb }}</li>
			<li id="Submit">
				<input type="submit" name="">
			</li>
		</ul>
	</form>
</div>


{% endblock %}