{% extends 'story/base.html'%}
{% block content %}
<br><br><br><br><br>
<table>
	<tr>
		<th id="friendlist">Name</th>
		<th id="friendlist">Year</th>
		<th id="friendlist">Hobby</th>
		<th id="friendlist">Favourite Food and Drinks</th>
	</tr>
	{% for friend in allfriends %}
	<tr>
		<td id="friendlist">{{friend.name}}</td>
		<td id="friendlist">{{friend.the_year}}</td>
		<td id="friendlist">{{friend.hobby}}</td>
		<td id="friendlist">{{friend.fnb}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}