{% extends 'story/base.html'%}
{% block content %}


      <div class="jumbotron bg-transparent">
        <h1 class="display-4" style="margin-top: 30vh;">Hello there!<br>I'm <span style="color:#5160E0;">Adham.</span></h1>
      </div>

{% endblock %}
   