{% extends 'story/base.html'%}
{% block content %}
<br><br><br><br><br>
<div class="jumbotron bg-transparent">
  <h1 class="display-4">Thank you for filling out the form!</h1>
  <p class="lead">Click the button to view friends list</p>
  <a class="btn btn-primary btn-lg" href="{%url 'friendlist'%}" role="button">Friends list</a>
</div>

{% endblock %}